/* Apply smooth scrolling and use the Inter font */
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Inter', 'sans-serif';
    background-color: #0f172a; /* Dark background */
}
/* Custom scrollbar for the playlist */
.playlist-scroll {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #4b5563 #1f2937; /* thumb and track */
}
.playlist-scroll::-webkit-scrollbar {
    width: 8px;
}
.playlist-scroll::-webkit-scrollbar-track {
    background: #1f2937; /* Dark track */
}
.playlist-scroll::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* Gray thumb */
    border-radius: 20px;
}